Flowfuse/flowsfuse_p2.json
[
    {
        "id": "11e106586ab49486",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "859016629f65f09c",
        "type": "ui_button",
        "z": "11e106586ab49486",
        "name": "",
        "group": "f0fd98cc75afcd86",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "ACTIVAR SISTEMA",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "ACTIVAR",
        "payloadType": "str",
        "topic": "sistema/control",
        "topicType": "msg",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "c5206cd148171138"
            ]
        ]
    },
    {
        "id": "252d56257a148405",
        "type": "ui_button",
        "z": "11e106586ab49486",
        "name": "",
        "group": "f0fd98cc75afcd86",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "DESACTIVAR SISTEMA",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "DESACTIVAR",
        "payloadType": "str",
        "topic": "sistema/control",
        "topicType": "msg",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "c5206cd148171138"
            ]
        ]
    },
    {
        "id": "c5206cd148171138",
        "type": "mqtt out",
        "z": "11e106586ab49486",
        "name": "",
        "topic": "sistema/control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cd0e9b6af7a8e01a",
        "x": 520,
        "y": 100,
        "wires": []
    },
    {
        "id": "124cabf5fe893dc2",
        "type": "mqtt in",
        "z": "11e106586ab49486",
        "name": "",
        "topic": "sistema/estado",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cd0e9b6af7a8e01a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 260,
        "wires": [
            [
                "6e83f15c0d12c8fd"
            ]
        ]
    },
    {
        "id": "6e83f15c0d12c8fd",
        "type": "ui_text",
        "z": "11e106586ab49486",
        "group": "4f23690b5020fcfb",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "ESTADO DEL SISTEMA",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "Impact,Impact,Charcoal,sans-serif",
        "fontSize": "10",
        "color": "#000000",
        "x": 570,
        "y": 260,
        "wires": []
    },
    {
        "id": "64f4147a7ec7f712",
        "type": "mqtt in",
        "z": "11e106586ab49486",
        "name": "",
        "topic": "sensor/pir",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cd0e9b6af7a8e01a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 340,
        "wires": [
            [
                "d045bba3967f314a"
            ]
        ]
    },
    {
        "id": "d045bba3967f314a",
        "type": "ui_text",
        "z": "11e106586ab49486",
        "group": "ca5b5181a81ce207",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "PIR",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 510,
        "y": 340,
        "wires": []
    },
    {
        "id": "093b709188060456",
        "type": "mqtt in",
        "z": "11e106586ab49486",
        "name": "",
        "topic": "actuador/led",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cd0e9b6af7a8e01a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 680,
        "wires": [
            [
                "8e895c6ece802b18"
            ]
        ]
    },
    {
        "id": "8e895c6ece802b18",
        "type": "ui_text",
        "z": "11e106586ab49486",
        "group": "bacad195a8fa4d43",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "LED",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 510,
        "y": 680,
        "wires": []
    },
    {
        "id": "e96e7f471b1ac2f1",
        "type": "mqtt in",
        "z": "11e106586ab49486",
        "name": "",
        "topic": "actuador/buzzer",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cd0e9b6af7a8e01a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 780,
        "wires": [
            [
                "9208e45e8b64837f"
            ]
        ]
    },
    {
        "id": "9208e45e8b64837f",
        "type": "ui_text",
        "z": "11e106586ab49486",
        "group": "bacad195a8fa4d43",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "BUZZER",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 520,
        "y": 780,
        "wires": []
    },
    {
        "id": "0b02d81485ea42eb",
        "type": "mqtt in",
        "z": "11e106586ab49486",
        "name": "",
        "topic": "sensor/vibracion_sw420",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cd0e9b6af7a8e01a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 420,
        "wires": [
            [
                "97cdef569ea47785"
            ]
        ]
    },
    {
        "id": "fe9e2a00b51c6614",
        "type": "mqtt in",
        "z": "11e106586ab49486",
        "name": "",
        "topic": "sensor/vibracion_ky002",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cd0e9b6af7a8e01a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 500,
        "wires": [
            [
                "8d72fb10f968bfd1"
            ]
        ]
    },
    {
        "id": "97cdef569ea47785",
        "type": "ui_text",
        "z": "11e106586ab49486",
        "group": "ca5b5181a81ce207",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "VIBRACIONES _ SW420",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 570,
        "y": 420,
        "wires": []
    },
    {
        "id": "8d72fb10f968bfd1",
        "type": "ui_text",
        "z": "11e106586ab49486",
        "group": "ca5b5181a81ce207",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "VIBRACIONES_KY002",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 570,
        "y": 500,
        "wires": []
    },
    {
        "id": "411b3f2f8c76af64",
        "type": "mqtt in",
        "z": "11e106586ab49486",
        "name": "",
        "topic": "sensor/magnetico",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cd0e9b6af7a8e01a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 600,
        "wires": [
            [
                "7bc1c653564c27c4"
            ]
        ]
    },
    {
        "id": "7bc1c653564c27c4",
        "type": "ui_text",
        "z": "11e106586ab49486",
        "group": "ca5b5181a81ce207",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "MAGNETICO",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 560,
        "y": 600,
        "wires": []
    },
    {
        "id": "7ebf800aa9d2ea76",
        "type": "ui_spacer",
        "z": "11e106586ab49486",
        "name": "spacer",
        "group": "f0fd98cc75afcd86",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "f0fd98cc75afcd86",
        "type": "ui_group",
        "name": "On/Off Sistema",
        "tab": "d1353f4dbecfe25e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cd0e9b6af7a8e01a",
        "type": "mqtt-broker",
        "name": "Test Mosquitto",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4f23690b5020fcfb",
        "type": "ui_group",
        "name": "Estado del sistema",
        "tab": "d1353f4dbecfe25e",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ca5b5181a81ce207",
        "type": "ui_group",
        "name": "Estado de los sensores ",
        "tab": "d1353f4dbecfe25e",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bacad195a8fa4d43",
        "type": "ui_group",
        "name": "Estado de los actuadores",
        "tab": "d1353f4dbecfe25e",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d1353f4dbecfe25e",
        "type": "ui_tab",
        "name": "Sistema de intrusion",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]